@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
}
h1,p{
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
    font-family: 'League Spartan';
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(222, 26%, 31%);
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cont1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cont1>h1{
    color: hsl(0, 0%, 100%);
    font-size: 25px;
}
.theme{
    display: flex;
    flex-direction: row;
    max-width: 45%;
}
.theme>p {
    margin: 10px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
}
.theme>div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.theme>div>div{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin-top: -12px;
    padding: 0 8px;
    color: hsl(0, 0%, 100%);
    font-family: 'League Spartan';
    font-size: 12px;
}
.slider{
    -webkit-appearance: none;
    width: 80%;
    height: 18px;
    padding: 2px 5px;
    border-radius: 50px;
    outline: none;
    background: hsl(223, 31%, 20%);
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: hsl(6, 63%, 50%);
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: hsl(6, 63%, 50%);
    cursor: pointer;
}
textarea{
    resize: none;
    cursor: none;
    pointer-events: none;
    text-align: right;
    border-radius: 5px;
    margin: 10px 0;
    background-color: hsl(224, 36%, 15%);
    border-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 100%);
}
.cont2{
    display: flex;
    flex-direction: column;
    background-color: hsl(223, 31%, 20%);
    border-radius: 5px;
    padding: 10px;
}
.row{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
}
.row>button {
    padding: 10px 20px;
    margin: 5px 5px;
    background-color: hsl(30, 25%, 89%);
    border-color: hsl(30, 25%, 89%);
    box-shadow: 2px 2px hsl(28, 16%, 65%);
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    color: hsl(221, 14%, 31%);
    font-family: 'League Spartan';
    font-size: 15px;
    font-weight: 700;
}
#diff1{
    background-color: hsl(225, 21%, 49%);
    border-color: hsl(225, 21%, 49%);
    box-shadow: 2px 2px hsl(224, 28%, 35%);
    color: hsl(0, 0%, 100%);
    text-align: center;
}
.row2{
    display: grid;
    grid-template-columns: 140px 140px;
}
.row2>button {
    padding: 10px 20px;
    margin: 5px 5px;
    border-style: solid;
    border-radius: 5px;
    font-family: 'League Spartan';
    font-size: 15px;
    font-weight: 700;
}
#diff2{
    background-color: hsl(225, 21%, 49%);
    border-color: hsl(225, 21%, 49%);
    box-shadow: 2px 2px hsl(224, 28%, 35%);
    color: hsl(0, 0%, 100%);
}
#diff3{
    background-color: hsl(6, 63%, 50%);
    border-color: hsl(6, 63%, 50%);
    box-shadow: 2px 2px hsl(6, 70%, 34%);
    color: hsl(0, 0%, 100%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }